<div class="container bg-white p-3 mb-3">
    <form method="GET" action="{{ base_index_uri }}">
        {% for k, v in current_query_string_parameters %}
            <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sort by</span>
                </div>
                <select name="sort" class="form-select" aria-label="Sort options">
                    {% for sort_option_group in sort_options %}
                        {% if sort_option_group.default_direction == 'ASC' %}
                            <option value="{{ sort_option_group.id }}_asc" {% if (sort_option_group.id ~ '_asc') == selected_sort_option %}selected{% endif %}>{{ sort_option_group.label }} ({{ sort_option_group.asc_label }})</option>
                            <option value="{{ sort_option_group.id }}_desc" {% if (sort_option_group.id ~ '_desc') == selected_sort_option %}selected{% endif %}>{{ sort_option_group.label }} ({{ sort_option_group.desc_label }})</option>
                        {% elseif sort_option_group.default_direction == 'DESC' %}
                            <option value="{{ sort_option_group.id }}_desc" {% if (sort_option_group.id ~ '_desc') == selected_sort_option %}selected{% endif %}>{{ sort_option_group.label }} ({{ sort_option_group.desc_label }})</option>
                            <option value="{{ sort_option_group.id }}_asc" {% if (sort_option_group.id ~ '_asc') == selected_sort_option %}selected{% endif %}>{{ sort_option_group.label }} ({{ sort_option_group.asc_label }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            {% for filter_widget in filter_widgets %}
                {{ render_widget(filter_widget) }}
            {% endfor %}
        </div>
        <div>
            <input type="submit" value="OK" class="btn btn-secondary">
        </div>
    </form>
</div>
