<div class="card mb-3 composite-list-edition-form-widget__block uninitialized">
    <input type="hidden" name="{{ base_name }}[]" value="{{ composite_id }}">
    <input type="hidden" name="{{ base_name }}-class[]" value="{{ composite_class }}">
    <div class="card-header px-2 py-1">
        <div class="position-relative">
            &nbsp;
            <div class="position-absolute top-0 start-0 composite-list-edition-form-widget__block-handle">
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#move" />
                </svg>
                <small>{{ name | capitalize }}</small>
            </div>
            <div class="position-absolute top-0 end-0 composite-list-edition-form-widget__delete">
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#trash-2" />
                </svg>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ render_widget(composite_widget) }}
    </div>
</div>
