<div class="mb-3 composite-list-edition-form-widget uninitialized">
    <label for="widget-{{ base_name }}" class="form-label">
        <strong>
            {{ title }}
            <span class="text-muted">
                {% for annotation in annotations %}
                    &middot; {{ annotation }}
                {% endfor %}
            </span>
        </strong>
    </label>
    <div class="composite-list-edition-form-widget__block-list">
        {% for composite_id, block_description in blocks_description %}
            {% include '@CmsUi/DatumWidget/CompositeListEditionFormWidget/block.inc.twig' with {
                base_name: base_name,
                composite_id: composite_id,
                composite_class: block_description.composite_class,
                name: block_description.name,
                composite_widget: block_description.widget
            } %}
        {% endfor %}
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Add a block&hellip;
        </button>
        <ul class="dropdown-menu composite-list-edition-form-widget__add-block-links">
            {% for add_block_option in add_block_options %}
                <li>
                    <a 
                        class="dropdown-item composite-list-edition-form-widget__add-block-link" 
                        href="{{ url('cms-ui-composite-list-ediition-form-widget-block', {}, {
                            base_name: base_name,
                            entity_class: entity.class_name,
                            entity_id: entity.id, 
                            composite_class: add_block_option.supported_class
                        }) }}"
                    >
                        {{ add_block_option.label | capitalize }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
