<div class="mb-3">
    {% if entity_component.size > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% if entity_component.is_an_image %}
                        <img src="{{ url('cms-ui-image', {'sizing': 'medium', 'component_address': component_address | slice(1)}) }}" class="img-fluid">
                    {% else %}
                        <p class="text-center">
                            <svg class="feather">
                                <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#file"/>
                            </svg>
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <strong>Original filename:</strong> {{ entity_component.original_filename }}<br>
                    <strong>File size:</strong> {{ formatted_size }}<br>
                    <strong>MIME type:</strong> {{ entity_component.mime_type }}
                </div>
            </div>
        </div>
    {% else %}
        <p>No file uploaded yet.
    {% endif %}
    <hr>
    <label for="widget-{{ base_name }}" class="form-label">
        <strong>Upload a new file</strong>
    </label>
    <input type="file" name="{{ base_name }}" id="widget-{{ base_name }}" class="form-control" {% if not can_be_modified %}disabled{% endif %}>
</div>
