{% extends '@CmsUi/Controller/CmsUiPageController/admin-ui-page-layout.twig' %}

{% block main %}

<div class="container mb-3">
    <h1 class="display-3">
        {% if edition_form_url != '' %}
            <a href="{{ edition_form_url }}" class="btn btn-secondary">&larr;</a>
        {% endif %}
        Change password
    </h1>
</div>

{{ render_widget(card_widget) }}

<hr>

<div class="bg-white p-3 mb-3">
    <form method="POST" enctype="multipart/form-data" action="{{ process_url }}">
    <input type="hidden" name="origin_url" value="{{ origin_url }}">
    <input type="hidden" name="nonce" value="{{ nonce }}">
        <div class="mb-3 row">
            <div class="col-md-6">
                <label for="password-1" class="form-label">
                    <strong>
                        New password
                    </strong>
                </label>
                <input type="password" name="password_1" value="{{ value }}" id="password-1" class="form-control {% if error %}is-invalid{% endif %}">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-6">
                <label for="password-2" class="form-label">
                    <strong>
                        Password confirmation
                    </strong>
                </label>
                <input type="password" name="password_2" value="{{ value }}" id="password-2" class="form-control {% if error %}is-invalid{% endif %}">
                <div class="form-text">Please type the new password again.</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary text-white">
            <svg class="feather">
                <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#key" />
            </svg>
            Change password
        </button>
    </form>
</div>
<p>
    <svg class="feather">
        <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#arrow-left" />
    </svg>
    <a href="{{ edition_form_url }}">Cancel</a>
</p>

{% endblock %}
