<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('cms-ui', '/favicons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('cms-ui', '/favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('cms-ui', '/favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ asset('cms-ui', '/favicons/site.webmanifest') }}">
<link rel="mask-icon" href="{{ asset('cms-ui', '/favicons/safari-pinned-tab.svg') }}" color="#ff5979">
<meta name="msapplication-TileColor" content="#343957">
<meta name="theme-color" content="#343957">
