{% extends '@CmsUi/Controller/CmsUiPageController/admin-ui-page-layout.twig' %}

{% block main %}

<div class="container mb-3">
    <h1 class="display-3">
        {{ collection_name | capitalize }}
    </h1>
    {% if can_be_created and '' != process_creation_form_url %}
        <form action="{{ process_creation_form_url }}" method="POST">
            <input type="hidden" name="origin_url" value="{{ this_page_url }}">
            <input type="hidden" name="nonce" value="{{ nonce }}">
            <button type="submit" class="btn btn-primary btn-lg text-white">
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#plus" />
                </svg>
                New {{ name }}
            </button>
        </form>
    {% endif %}
</div>

{{ render_widget(display_box_widget) }}

{{ render_widget(pagination_widget) }}

<div class="container bg-white p-3">
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item p-0">
                <div>
                    {{ render_widget(item.card_widget) }}
                </div>
                <div class="position-absolute top-0 end-0">
                    <div class="mt-3 me-3">
                        {% if item.can_be_duplicated and '' != item.duplication_form_url %}
                            <a href="{{ item.duplication_form_url }}" class="btn btn-sm btn-outline-secondary rounded-pill">
                                <svg class="feather">
                                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#copy" />
                                </svg>
                            </a>
                        {% endif %}
                        {% if item.can_be_deleted and '' != item.deletion_form_url %}
                            <a href="{{ item.deletion_form_url }}" class="btn btn-sm btn-outline-danger rounded-pill">
                                <svg class="feather">
                                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#trash-2" />
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
