{% extends '@CmsUi/Controller/CmsUiPageController/admin-ui-page-layout.twig' %}

{% block main %}

<div class="container mb-3">
    <h1 class="display-3">
        {% if origin_url != '' %}
            <a href="{{ origin_url }}" class="btn btn-secondary">&larr;</a>
        {% endif %}
        Duplicate {{ name }}?
    </h1>
</div>

<form method="POST" enctype="multipart/form-data" action="{{ process_url }}">
    <input type="hidden" name="origin_url" value="{{ origin_url }}">
    <input type="hidden" name="nonce" value="{{ nonce }}">
    <p>You are about to duplicate the following {{ name }}:</p>
    {{ render_widget(card_widget) }}
    <p>Do you wish to proceed?</p>
    <button type="submit" class="btn btn-primary text-white">
        <svg class="feather">
            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#copy" />
        </svg>
        Yes, duplicate
    </button>
    <hr>
    <p>
        <svg class="feather">
            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#arrow-left" />
        </svg>
        <a href="{{ origin_url }}">Cancel</a>
    </p>
</form>

{% endblock %}
