{% extends '@CmsUi/Controller/CmsUiPageController/admin-ui-page-layout.twig' %}

{% block main %}

<div class="container mb-3">
    <h1 class="display-3">
        {% if origin_url != '' %}
            <a href="{{ origin_url }}" class="btn btn-secondary">&larr;</a>
        {% endif %}
        Edit {{ name }}
    </h1>
</div>

{% if locale_catalog | length > 0 %}
    <div class="container mb-3">
        <div class="btn-group language-switcher uninitialized">
            {% for l in locale_catalog %}
                <input 
                    type="checkbox"
                    class="btn-check language-switcher__checkbox"
                    id="vitya-language-switcher-{{ l.id }}"
                    {% if working_locale.id == l.id %}checked{% endif %}
                    autocomplete="off"
                    data-locale="{{ l.id }}"
                >
                <label class="btn btn-outline-secondary" for="vitya-language-switcher-{{ l.id }}">{{ l.id }}</label>
            {% endfor %}
        </div>
    </div>
{% endif %}

<form method="POST" enctype="multipart/form-data" action="{{ process_url }}">
    <input type="hidden" name="origin_url" value="{{ origin_url }}">
    <input type="hidden" name="nonce" value="{{ nonce }}">
    <div class="row">
        <div class="col-lg-8">
            {% if widgets.main is defined and widgets.main | length > 0 %}
                {% for subzone in widgets.main %}
                    {% if subzone | length > 0 %}
                        <div class="bg-white p-3 mb-3">
                            {% for widget in subzone %}
                                {{ render_widget(widget) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="bg-white p-3 mb-3">
                <p>{{ name | capitalize }} <span class="badge bg-secondary">#{{ id }}</span></p>
                {% if can_be_modified %}
                    <button class="btn btn-primary btn-lg text-white w-100">
                        <svg class="feather">
                            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#save"/>
                        </svg>
                        Save
                    </button>
                {% else %}
                    <p>You are not allowed to edit this content.</p>
                {% endif %}
            </div>
            {% if widgets.aside is defined and widgets.aside | length > 0 %}
                {% for subzone in widgets.aside %}
                    {% if subzone | length > 0 %}
                        <div class="bg-white p-3 mb-3">
                            {% for widget in subzone %}
                                {{ render_widget(widget) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}
