{% extends '@CmsUi/Controller/CmsUiPageController/admin-ui-page-layout.twig' %}

{% block main %}

<div class="container mb-3">
    <h1 class="display-3">
        {{ collection_name | capitalize }}
    </h1>
    {% if can_be_created and '' != process_creation_form_url %}
        <form action="{{ process_creation_form_url }}" method="POST">
            <input type="hidden" name="origin_url" value="{{ this_page_url }}">
            <input type="hidden" name="nonce" value="{{ creation_nonce }}">
            <button type="submit" class="btn btn-primary btn-lg text-white">
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#plus" />
                </svg>
                New {{ name }}
            </button>
        </form>
    {% endif %}
</div>

<div class="container">
    {% if can_be_reordered and '' != process_index_url %}
        <form action="{{ process_index_uri }}" method="POST">
            <input type="hidden" name="nonce" value="{{ reordering_nonce }}">
            <div class="tree-structure-widget uninitialized">
                <script class="tree-structure-widget__json" type="application/json">
                    {{ nodes_json | raw }}
                </script>
                <input type="hidden" name="tree_structure_widget_associative_array" class="tree-structure-widget__associative-array" value="{{ associative_array_json }}">
                <div class="tree-structure-widget__tree">
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-secondary btn-lg text-white">
                    <svg class="feather">
                        <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#save" />
                    </svg>
                    Save structure
                </a>
            </div>
        </form>
    {% endif %}
</div>

{% endblock %}
