<div class="tree__label-container">
    <div class="tree__label-card">
        {% if card_widget is not empty %}{{ render_widget(card_widget) }}{% else %}empty{% endif %}
    </div>
    <div class="tree__label-actions">
        {% if can_be_deleted and '' != deletion_form_url %}
            <a href="{{ deletion_form_url }}" class="btn btn-sm btn-outline-danger rounded-pill" draggable="false">
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#trash-2" />
                </svg>
            </a>
        {% endif %}
    </div>
</div>
