<!DOCTYPE html>
<html>
    <head>
        <title>Vitya{% if html_page_variables.title is not empty %} • {% endif %}{{ html_page_variables.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ asset('cms-ui', '/css/vitya-bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('cms-ui', '/css/vitya-cms-ui.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('cms-ui', '/css/vitya-misc.css') }}">
        {% include '@CmsUi/inc/favicons.twig' %}
    </head>
    <body>
        <div class="container vitya-login-form">
            {% for k_queue, v_queue in flash_messages %}
                {% set queue_class = (k_queue == 'error' ? 'danger' : k_queue) %}
                {% for message in v_queue %}
                    <div class="alert alert-{{ queue_class }} mt-3" role="alert">
                        {% if message.type == 'html' %}
                            <h4 class="alert-heading">{{ message.html_title | raw }}</h4>
                            {{ message.html_body | raw }}
                        {% elseif message.type == 'text' %}
                            {{ message.message | nl2br }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 bg-white">
                    {% if error_message != ''%}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <div class="my-5 text-center">
                        {% include '@CmsUi/svg/vitya_speech_balloon.svg' %}
                    </div>
                    <form method="POST" action="{{ url('process-login-page') }}">
                        <input type="hidden" name="realm" value="{{ realm }}">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ last_username }}">
                        </div>
                        <div class="mb-5">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg text-white mb-3">
                            <svg class="feather">
                                <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#log-in"/>
                            </svg>
                            Log in
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <script src="{{ asset('cms-ui', '/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('cms-ui', '/js/vitya-cms-ui.js') }}"></script>
    </body>
</html>
