<div class="mb-3 embed-entity-component-widget uninitialized">

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-source-url" class="col-sm-2 col-form-label">Source URL</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_source_url" value="{{ entity_component.source_url }}" id="widget-{{ base_name }}-source-url" class="form-control embed-entity-component-widget__source-url" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="d-flex flex-row mb-3">
        <div>
            <a href="{{ url('cms-ui-embed-component-scrape', {'component_address': component_address | slice(1)}) }}" class="btn btn-secondary embed-entity-component-widget__retrieve-info">
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#zap"/>
                </svg>
                Retrieve embed information
            </a>
        </div>
        <div>
            &nbsp;
        </div>
        <div class="spinner-border text-secondary d-none embed-entity-component-widget__spinner" role="status">
            &nbsp;
        </div>
    </div>

    <hr>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-title" class="col-sm-2 col-form-label col-form-label-sm">Title</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_title" value="{{ entity_component.title }}" id="widget-{{ base_name }}-title" class="form-control form-control-sm embed-entity-component-widget__title" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-description" class="col-sm-2 col-form-label col-form-label-sm">Description</label>
        <div class="col-sm-10">
            <textarea name="{{ base_name }}_description" id="widget-{{ base_name }}-description" class="form-control form-control-sm embed-entity-component-widget__description" {% if not can_be_modified %}disabled{% endif %}>{{ entity_component.description }}</textarea>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-url" class="col-sm-2 col-form-label col-form-label-sm">Canonical URL</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_url" value="{{ entity_component.url }}" id="widget-{{ base_name }}-url" class="form-control form-control-sm embed-entity-component-widget__url" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-keywords" class="col-sm-2 col-form-label col-form-label-sm">Keywords</label>
        <div class="col-sm-10">
            <textarea name="{{ base_name }}_keywords" id="widget-{{ base_name }}-keywords" class="form-control form-control-sm embed-entity-component-widget__keywords" {% if not can_be_modified %}disabled{% endif %}>{{ entity_component.keywords }}</textarea>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-image" class="col-sm-2 col-form-label col-form-label-sm">Image URL</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_image" value="{{ entity_component.image }}" id="widget-{{ base_name }}-image" class="form-control form-control-sm embed-entity-component-widget__image" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-html" class="col-sm-2 col-form-label col-form-label-sm">HTML code</label>
        <div class="col-sm-10">
            <textarea name="{{ base_name }}_html" id="widget-{{ base_name }}-html" class="form-control form-control-sm embed-entity-component-widget__html" {% if not can_be_modified %}disabled{% endif %}>{{ entity_component.html }}</textarea>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-width" class="col-sm-2 col-form-label col-form-label-sm">Width</label>
        <div class="col-sm-10">
            <input type="number" min="0" name="{{ base_name }}_width" value="{{ entity_component.width }}" id="widget-{{ base_name }}-width" class="form-control form-control-sm embed-entity-component-widget__width" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-height" class="col-sm-2 col-form-label col-form-label-sm">Height</label>
        <div class="col-sm-10">
            <input type="number" min="0" name="{{ base_name }}_height" value="{{ entity_component.height }}" id="widget-{{ base_name }}-height" class="form-control form-control-sm  embed-entity-component-widget__height" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-ratio" class="col-sm-2 col-form-label col-form-label-sm">Ratio</label>
        <div class="col-sm-10">
            <input type="text" inputmode="decimal" pattern="[0-9]*[.]?[0-9]*" name="{{ base_name }}_ratio" value="{{ entity_component.ratio }}" id="widget-{{ base_name }}-ratio" class="form-control form-control-sm embed-entity-component-widget__ratio" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-author-name" class="col-sm-2 col-form-label col-form-label-sm">Author name</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_author_name" value="{{ entity_component.author_name }}" id="widget-{{ base_name }}-author-name" class="form-control form-control-sm embed-entity-component-widget__author-name" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-author-url" class="col-sm-2 col-form-label col-form-label-sm">Author URL</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_author_url" value="{{ entity_component.author_url }}" id="widget-{{ base_name }}-author-url" class="form-control form-control-sm embed-entity-component-widget__author-url" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-cms" class="col-sm-2 col-form-label col-form-label-sm">CMS</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_cms" value="{{ entity_component.cms }}" id="widget-{{ base_name }}-cms" class="form-control form-control-sm embed-entity-component-widget__cms" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-language" class="col-sm-2 col-form-label col-form-label-sm">Language</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_language" value="{{ entity_component.language }}" id="widget-{{ base_name }}-language" class="form-control form-control-sm embed-entity-component-widget__language" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-languages" class="col-sm-2 col-form-label col-form-label-sm">Languages</label>
        <div class="col-sm-10">
            <textarea name="{{ base_name }}_languages" id="widget-{{ base_name }}-languages" class="form-control form-control-sm embed-entity-component-widget__languages" {% if not can_be_modified %}disabled{% endif %}>{{ entity_component.languages }}</textarea>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-provider-name" class="col-sm-2 col-form-label col-form-label-sm">Provider name</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_provider_name" value="{{ entity_component.provider_name }}" id="widget-{{ base_name }}-provider-name" class="form-control form-control-sm embed-entity-component-widget__provider-name" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-provider-url" class="col-sm-2 col-form-label col-form-label-sm">Provider URL</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_provider_url" value="{{ entity_component.provider_url }}" id="widget-{{ base_name }}-provider-url" class="form-control form-control-sm embed-entity-component-widget__provider-url" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-icon" class="col-sm-2 col-form-label col-form-label-sm">Icon URL</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_icon" value="{{ entity_component.icon }}" id="widget-{{ base_name }}-icon" class="form-control form-control-sm embed-entity-component-widget__icon" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-favicon" class="col-sm-2 col-form-label col-form-label-sm">Favicon URL</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_favicon" value="{{ entity_component.favicon }}" id="widget-{{ base_name }}-favicon" class="form-control form-control-sm embed-entity-component-widget__favicon" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-published-time" class="col-sm-2 col-form-label col-form-label-sm">Published time</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_published_time" value="{{ entity_component.published_time }}" id="widget-{{ base_name }}-published-time" class="form-control form-control-sm embed-entity-component-widget__published-time" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-license" class="col-sm-2 col-form-label col-form-label-sm">License</label>
        <div class="col-sm-10">
            <input type="text" name="{{ base_name }}_license" value="{{ entity_component.license }}" id="widget-{{ base_name }}-license" class="form-control form-control-sm embed-entity-component-widget__license" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="widget-{{ base_name }}-feeds" class="col-sm-2 col-form-label col-form-label-sm">Feeds</label>
        <div class="col-sm-10">
            <textarea name="{{ base_name }}_feeds" id="widget-{{ base_name }}-feeds" class="form-control form-control-sm embed-entity-component-widget__feeds" {% if not can_be_modified %}disabled{% endif %}>{{ entity_component.feeds }}</textarea>
        </div>
    </div>

</div>
