<h3>Permissions</h3>
{% for item in items %}
    <p><strong><span class="text-muted">{{ item.type_human_name | capitalize }}</span> {{ item.label }}</strong></p>
    <p>
        {% for p, p_label in permission_labels %}
            {% if p in item.permissions %}
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#check"/>
                </svg>
                {{ p_label }}
            {% endif %}
        {% endfor %}
    </p>
{% endfor %}
{% if can_be_modified and fully_created and edition_form_uri is defined %}
    <hr>
    <p>
        <svg class="feather">
            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#user-check"/>
        </svg>
        <a href="{{ edition_form_uri }}">Modify permissions&hellip;</a>
    </p>
{% endif %}
