<div class="mb-3 cke-edition-form-widget uninitialized">
    <label for="widget-{{ base_name }}" class="form-label">
        <strong>
            {{ title }}
            <span class="text-muted">
                {% for annotation in annotations %}
                    &middot; {{ annotation }}
                {% endfor %}
            </span>
            {% if mandatory %}
                <span class="text-danger">*</span>
            {% endif %}
        </strong>
    </label>
    {% if html_error_description != '' %}
        <p class="text-danger">{{ html_error_description | raw }}</p>
    {% endif %}
    <textarea name="{{ base_name }}" id="widget-{{ base_name }}" class="form-control {% if error %}is-invalid{% endif %}" rows="4" {% if not can_be_modified %}disabled{% endif %}>{{ value }}</textarea>
</div>
