<div class="mb-3 linked-entities-edition-widget">
    <label for="widget-{{ base_name }}" class="form-label">
        <strong>
            {{ title }}
            <span class="text-muted">
                {% for annotation in annotations %}
                    &middot; {{ annotation }}
                {% endfor %}
            </span>
        </strong>
    </label>
    {% if html_error_description != '' %}
        <p class="text-danger">{{ html_error_description | raw }}</p>
    {% endif %}
    {% for v in value %}
        <div class="mb-3 row">
            <div class="col">
                <input type="text" name="{{ base_name }}_class[]" value="{{ v.class }}" class="form-control {% if error %}is-invalid{% endif %}" {% if not can_be_modified %}disabled{% endif %}>
            </div>
            <div class="col">
                <input type="text" name="{{ base_name }}_id[]" value="{{ v.id }}" class="form-control {% if error %}is-invalid{% endif %}" {% if not can_be_modified %}disabled{% endif %}>
            </div>
        </div>
    {% endfor %}
    <div class="mb-3 row">
        <div class="col">
            <input type="text" name="{{ base_name }}_class[]" class="form-control" {% if not can_be_modified %}disabled{% endif %}>
        </div>
        <div class="col">
            <input type="text" name="{{ base_name }}_id[]" class="form-control" {% if not can_be_modified %}disabled{% endif %}>
        </div>
    </div>
</div>
