<div class="mb-3">
    <label for="widget-{{ base_name }}-username" class="form-label">
        <strong>Username <span class="text-danger">*</span></strong>
    </label>
    {% if html_error_description != '' %}
        <p class="text-danger">{{ html_error_description | raw }}</p>
    {% endif %}
    <input type="text" name="{{ base_name }}" value="{{ username }}" id="widget-{{ base_name }}-username" class="form-control {% if error %}is-invalid{% endif %}" {% if not can_be_modified %}disabled{% endif %}>
</div>
<div class="mb-3">
    <label for="widget-{{ base_name }}-password" class="form-label">
        <strong>Password</strong>
    </label>
    <input type="text" value="{% if password is empty %}(No password set.){% else %}●●●●●●●●●●{% endif %}" id="widget-{{ base_name }}-username" class="form-control" disabled>
</div>
{% if can_be_modified and can_have_password_modified and fully_created and edition_form_uri is defined %}
    <div class="mb-3">
        <svg class="feather">
            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#key"/>
        </svg>
        <a href="{{ edition_form_uri }}">Change password&hellip;</a>
    </div>
{% endif %}
