{% if nb_items > 10 %}
    <div class="container bg-white p-3 mb-3">
        <div class="row">
            <div class="col-3">
                <nav>
                    <p>{{ first_item_offset + 1 }} &ndash; {{ last_item_offset + 1 }} / {{ nb_items }}</p>
                </nav>
            </div>
            <div class="col-5">
                <nav>
                    <ul class="pagination">
                        {% if first_page is not empty %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="{{ first_page.url }}"><span>&laquo;</span></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                        {% endif %}
                        {% if previous_page is not empty %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="{{ previous_page.url }}"><span>&lsaquo;</span></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&lsaquo;</span>
                            </li>
                        {% endif %}
                        {% for page_number, page in pages %}
                            <li class="page-item {{ page.current ? 'active' : '' }}">
                                {% if page.current %}
                                    <span class="page-link bg-dark text-light">{{ page_number }}</span>
                                {% else %}
                                    <a class="page-link text-dark" href="{{ page.url }}">{{ page_number }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if next_page is not empty %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="{{ next_page.url }}"><span>&rsaquo;</span></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&rsaquo;</span>
                            </li>
                        {% endif %}
                        {% if last_page is not empty %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="{{ last_page.url }}"><span>&raquo;</span></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-4">
                <nav>
                    <ul class="pagination">
                        {% for nb, possible_nb_items_per_page in possible_nbs_items_per_page %}
                            {% if possible_nb_items_per_page.current %}
                                <li class="page-item disabled">
                                    <span class="page-link bg-dark text-light">{{ nb }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link text-dark" href="{{ possible_nb_items_per_page.url }}">{{ nb }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item disabled">
                            <span class="page-link">items per page</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endif %}