<div class="mb-3">
    <label for="widget-{{ base_name }}" class="form-label">
        <strong>User groups</strong>
    </label>
    {% for user_group_identifier, user_group_name in user_groups %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ base_name }}_user_groups[]" value="{{ user_group_identifier }}" {% if user_group_identifier in groups %}checked{% endif %} {% if not can_be_modified %}disabled{% endif %} id="widget-{{ base_name }}-user-groups-{{ loop.index0 }}">
            <label class="form-check-label" for="widget-{{ base_name }}-user-groups-{{ loop.index0 }}">
                {{ user_group_name | capitalize }}
            </label>
        </div>
    {% endfor %}
</div>

{% if can_be_made_omnipotent %}
    <div class="alert alert-warning mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ base_name }}_omnipotent" value="1" {% if omnipotent %}checked{% endif %} id="widget-{{ base_name }}-omnipotent">
            <label class="form-check-label" for="widget-{{ base_name }}-omnipotent">
                This user is a super admin
            </label>
        </div>
    </div>
{% else %}
    {% if omnipotent %}
        <div class="alert alert-warning mb-3">
            <svg class="feather">
                <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#star"/>
            </svg>
            This user is a super admin
        </div>
    {% endif %}
{% endif %}
