/*
 * Copyright 2020 TENTWELVE SRL
 * Licensed under the EUPL, Version 1.2 or - as soon they will be approved by
 * the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 * https://joinup.ec.europa.eu/software/page/eupl5
 * Unless required by applicable law or agreed to inwriting, software
 * distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and
 * limitations under the Licence.
 */
.vitya-header {
  height: 64px;
}

.vitya-sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 1020;
}

@media (min-width: 768px) {
  .vitya-sidebar {
    width: 220px;
  }
}
.vitya-sidebar-content {
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.vitya-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .vitya-container {
    width: 540px;
    margin-left: 220px;
  }
}
@media (min-width: 992px) {
  .vitya-container {
    width: 720px;
    margin-left: 220px;
  }
}
@media (min-width: 1200px) {
  .vitya-container {
    width: 960px;
    margin-left: 220px;
  }
}
@media (min-width: 1400px) {
  .vitya-container {
    width: 1140px;
    margin-left: 220px;
  }
}
body {
  background-color: #e1e2e6;
}

.vitya-header {
  background-color: #292d45;
}

.vitya-sidebar {
  background-color: #343957;
  color: #cccdd5;
}

.feather {
  width: 1.5em;
  height: 1.5em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: text-top;
}

.vitya-login-form .vitya-logo {
  width: 14.5em;
  height: 8em;
}

.vitya-header .vitya-logo {
  width: 4.5em;
  height: 1.5em;
}

/*# sourceMappingURL=vitya-cms-ui.css.map */
