.tree-structure-widget__tree .tree__node {
    display: block;
    position: relative;
    z-index: 1;
}

.tree-structure-widget__tree .tree__node * {
    user-select: none;
}

.tree-structure-widget__tree .tree__collapse {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.tree-structure-widget__tree .tree__subnodes:empty + .tree__collapse {
    display: none;
}

.tree-structure-widget__tree .tree__subnodes {
    display: none;
    padding: 0 0 0 4rem;
}

.tree-structure-widget__tree .tree__node[open] > .tree__subnodes {
    display: block;
}

.tree-structure-widget__tree .tree__label {
    position: relative;
    padding: 0.5rem 0;
    cursor: move;
}

.tree-structure-widget__tree .tree__label:after {
    content: '';
    position: absolute;
    z-index: 4000;
    inset: -2px 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: border-color 0.2s;
    pointer-events: none;
}

.tree-structure-widget__tree .tree__node--drop-before > .tree__label:after {
    border-top-color: #ff0000;
}

.tree-structure-widget__tree .tree__node--drop-after > .tree__label:after {
    border-bottom-color: #ff0000;
}

.tree-structure-widget__tree .tree__node--drop-inside > .tree__label .tree__label-container {
    background-color: #ffcccc !important;
}

.tree-structure-widget__tree .tree__label-container {
    position: relative;
    background-color: #ffffff;
}

.tree-structure-widget__tree .tree__label-card {
    margin: 0 5rem 0 3rem;
}

.tree-structure-widget__tree .tree__label-actions {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
