<ul class="nav flex-column">
    {% if '' != app_params.application_homepage_url %}
        <li class="nav-item">
            <a class="nav-link text-light" href="{{ app_params.base_url_path ~ app_params.application_homepage_url }}">
                {{ app_params.application_name }}
                <svg class="feather">
                    <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#arrow-up-right"/>
                </svg>
            </a>
        </li>
        <hr>
    {% endif %}
    {% for navigation_group in navigation %}
        {% for item in navigation_group %}
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ item.url }}">{{ item.label }}</a>
            </li>
        {% endfor %}
        <hr>
    {% endfor %}
</ul>
