<div class="mb-3 plain-text-edition-widget">
    <label for="widget-{{ base_name }}" class="form-label">
        <strong>
            {{ title }}
            <span class="text-muted">
                {% for annotation in annotations %}
                    &middot; {{ annotation }}
                {% endfor %}
            </span>
            {% if mandatory %}
                <span class="text-danger">*</span>
            {% endif %}
        </strong>
    </label>
    {% if html_error_description != '' %}
        <p class="text-danger">{{ html_error_description | raw }}</p>
    {% endif %}
    <input type="text" name="{{ base_name }}" value="{{ value }}" id="widget-{{ base_name }}" class="form-control {% if error %}is-invalid{% endif %}" {% if not can_be_modified %}disabled{% endif %}>
</div>
