{% extends '@CmsUi/Controller/CmsUiPageController/admin-ui-page-layout.twig' %}

{% block main %}

{% set pager %}
    <nav class="mb-3">
        <ul class="pagination">
            {% if prev_url is not empty %}
                <li class="page-item">
                    <a class="page-link text-dark" href="{{ prev_url }}"><span>&laquo; Older</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo; Older</span>
                </li>
            {% endif %}
            {% if next_url is not empty %}
                <li class="page-item">
                    <a class="page-link text-dark" href="{{ next_url }}"><span>Newer &raquo;</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Newer &raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endset %}

<div class="container mb-3">
    <h1 class="display-3">Logs</h1>
</div>

<div class="container bg-white p-3 mb-3">
    <ul class="nav nav-tabs mb-3">
        {% for available_log in available_logs %}
            <a class="nav-link {% if available_log.active %}active{% endif %}" href="{{ available_log.url }}">{{ available_log.name }}</a>
        {% endfor %}
    </ul>
    {% if log_is_empty %}
        <div class="alert alert-info" role="alert">
            This log is empty.
        </div>
    {% else %}
        {{ pager }}
        <div>
            {% for line in lines %}
                {% set text_class = '' %}
                {% if line.level == 'emergency' %}{% set text_class = 'bg-danger text-white' %}{% endif %}
                {% if line.level in ['alert', 'critical', 'error'] %}{% set text_class = 'text-danger' %}{% endif %}
                {% if line.level == 'warning' %}{% set text_class = 'text-warning' %}{% endif %}
                {% if line.level == 'notice' %}{% set text_class = 'text-success' %}{% endif %}
                {% if line.level == 'debug' %}{% set text_class = 'text-secondary' %}{% endif %}
                <div class="mb-3 {{ text_class }}">
                    {{ line.content }}
                </div>
            {% endfor %}
        </div>
        {{ pager }}
    {% endif %}
</div>

{% endblock %}
