<div class="form-group">
    <label for="widget-{{ base_name }}">{{ label }}</label>
    <select name="{{ base_name }}" class="form-control" id="widget-{{ base_name }}">
        <option value="" {% if selected_option == '' %}selected{% endif %}>Any</option>
        <hr>
        <option value="currently_published" {% if selected_option == 'currently_published' %}selected{% endif %}>Currently published</option>
        <option value="currently_not_published" {% if selected_option == 'currently_not_published' %}selected{% endif %}>Currently not published</option>
        <hr>
        <option value="to_be_published" {% if selected_option == 'to_be_published' %}selected{% endif %}>To be published</option>
        <option value="previously_published" {% if selected_option == 'previously_published' %}selected{% endif %}>Previously published</option>
        <hr>
        <option value="publishable" {% if selected_option == 'publishable' %}selected{% endif %}>Set for publication</option>
        <option value="not_publishable" {% if selected_option == 'not_publishable' %}selected{% endif %}>Not set for publication</option>
    </select>
</div>
