<div class="bg-white" style="height: 4rem; position: relative;">
    {% if edition_form_uri is not empty and with_links %}
        <a href="{{ edition_form_uri }}" draggable="{{ draggable ? 'true' : 'false' }}">
    {% endif %}
    <div class="position-absolute bg-light" style="width: 4rem; height: 4rem;">
    </div>
    <div style="margin-left: 4rem; margin-right: 6rem;">
        <div class="px-3 py-1">
            <small>{{ name | capitalize }} #{{ entity.id }}</small><br>
            <h5 class="card-title">{{ title }}</h5>
        </div>
    </div>
    {% if edition_form_uri is not empty and with_links %}
        </a>
    {% endif %}
</div>
