<!DOCTYPE html>

{{ require_css('cms-ui', asset('cms-ui', '/css/vitya-bootstrap.css')) }}
{{ require_css('cms-ui', asset('cms-ui', '/css/vitya-cms-ui.css')) }}
{{ require_css('cms-ui', asset('cms-ui', '/css/vitya-misc.css')) }}

{{ require_js('cms-ui', asset('cms-ui', '/vendor/bootstrap/bootstrap.bundle.min.js')) }}
{{ require_js('cms-ui', asset('cms-ui', '/vendor/ckeditor/ckeditor.js')) }}
{{ require_js('cms-ui', asset('cms-ui', '/vendor/sortable-tree/sortable-tree.js')) }}
{{ require_js('cms-ui', asset('cms-ui', '/vendor/sortablejs/Sortable.min.js')) }}
{{ require_js('cms-ui', asset('cms-ui', '/js/vitya-cms-ui.js')) }}

{% set main_block_content %}
{% block main %}
{% endblock %}
{% endset %}

<html>
    <head>
        <title>Vitya{% if html_page_variables.title is not empty %} • {% endif %}{{ html_page_variables.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ get_required_css('cms-ui') }}
        {% include '@CmsUi/inc/favicons.twig' %}
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top vitya-header">
            <a class="navbar-brand px-3 flex-grow-1" href="{{ url('cms-ui-dashboard') }}">
                <div>
                    {% include '@CmsUi/svg/vitya_logo_dark_bg.svg' %}
                </div>
            </a>
            {% if user('cms') is not empty %}
                <form class="px-3" action="{{ url('logout') }}" method="POST">
                    <button class="btn btn-outline-light" type="submit">
                        <svg class="feather">
                            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#user"/>
                        </svg>
                        Logout ({{ cms_user_display_name }})
                    </button>
                </form>
            {% endif %}
            <div class="px-3 d-md-none">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </header>
        <nav id="sidebar" class="d-md-block collapse vitya-sidebar">
            <div class="vitya-sidebar-content">
                {% for widget in sidebar_widgets %}
                    {{ widget.render | raw }}
                {% endfor %}
            </div>
        </nav>
        <div class="vitya-container">
            <main role="main" class="vitya-main">
                {% for k_queue, v_queue in flash_messages %}
                    {% set queue_class = (k_queue == 'error' ? 'danger' : k_queue) %}
                    {% for message in v_queue %}
                        <div class="alert alert-{{ queue_class }} mt-3" role="alert">
                            {% if message.type == 'html' %}
                                <h4 class="alert-heading">
                                    {% if queue_class == 'success' %}
                                        <svg class="feather">
                                            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#check-circle"/>
                                        </svg>
                                    {% elseif queue_class == 'danger' %}
                                        <svg class="feather">
                                            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#alert-circle"/>
                                        </svg>
                                    {% elseif queue_class == 'warning' %}
                                        <svg class="feather">
                                            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#alert-circle"/>
                                        </svg>
                                    {% elseif queue_class == 'info' %}
                                        <svg class="feather">
                                            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#message-circle"/>
                                        </svg>
                                    {% endif %}
                                    {{ message.html_title | raw }}
                                </h4>
                                {{ message.html_body | raw }}
                            {% elseif message.type == 'text' %}
                                {{ message.message | nl2br }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
                {{ main_block_content }}
                <div class="container mt-5 mb-3 small text-muted">
                    <p>
                        <strong>Vitya</strong> is free software released under the European Union Public Licence.
                        More information at <a href="https://vitya.io/" target="_blank">https://vitya.io/</a>.
                    </p>
                </div>
            </main>
        </div>
        {{ get_required_js('cms-ui') }}
    </body>
</html>
