{% include '@CmsUi/DatumWidget/CompositeListEditionFormWidget/block.inc.twig' with {
    base_name: base_name,
    composite_id: composite_id,
    composite_class: composite_class,
    name: name,
    composite_widget: composite_widget
} %}
