{% extends '@CmsUi/Controller/CmsUiPageController/admin-ui-page-layout.twig' %}

{% block main %}

<div class="container mb-3">
    <h1 class="display-3">
        {% if edition_form_url != '' %}
            <a href="{{ edition_form_url }}" class="btn btn-secondary">&larr;</a>
        {% endif %}
        Modify permissions
    </h1>
</div>

{{ render_widget(card_widget) }}

<hr>

<form method="POST" enctype="multipart/form-data" action="{{ process_url }}">
    <input type="hidden" name="origin_url" value="{{ origin_url }}">
    <input type="hidden" name="nonce" value="{{ nonce }}">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th colspan="{{ 1 + permission_labels | length }}">All</th>
            </tr>
            <tr>
                <td>All users</td>
                {% for p, p_label in permission_labels %}
                    <td>
                        <div class="form-check">
                            <input 
                                class="form-check-input" type="checkbox" value="1" id="p:all::{{ p }}" name="p:all::{{ p }}" 
                                {% if permission_table['all'][p] is defined %}checked{% endif %}
                            >
                            <label class="form-check-label" for="p:all::{{ p }}">{{ p_label }}</label>
                        </div>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="{{ 1 + permission_labels | length }}">Groups</th>
            </tr>
            {% for group_identifier, group_permissions in permission_table['group'] %}
                <tr>
                    <td>{{ user_group_labels[group_identifier] | capitalize }} {% if group_identifier in current_user_groups %}<span class="badge bg-secondary">Member</span>{% endif %}</td>
                    {% for p, p_label in permission_labels %}
                        <td>
                            <div class="form-check">
                                <input 
                                    class="form-check-input" type="checkbox" value="1" id="p:group:{{ group_identifier }}:{{ p }}" name="p:group:{{ group_identifier }}:{{ p }}" 
                                    {% if group_permissions[p] is defined %}checked{% endif %}
                                >
                                <label class="form-check-label" for="p:group:{{ group_identifier }}:{{ p }}">{{ p_label }}</label>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <th colspan="{{ 1 + permission_labels | length }}">Users</th>
            </tr>
            {% for user_identifier, user_permissions in permission_table['user'] %}
                <tr>
                    <td>{{ user_labels[user_identifier] }} {% if current_user_identifier == user_identifier %}<span class="badge bg-secondary">Me</span>{% endif %}</td>
                    {% for p, p_label in permission_labels %}
                        <td>
                            <div class="form-check">
                                <input 
                                    class="form-check-input" type="checkbox" value="1" id="p:user:{{ user_identifier }}:{{ p }}" name="p:user:{{ user_identifier }}:{{ p }}" 
                                    {% if user_permissions[p] is defined %}checked{% endif %}
                                >
                                <label class="form-check-label" for="p:user:{{ user_identifier }}:{{ p }}">{{ p_label }}</label>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary text-white">
        <svg class="feather">
            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#user-check" />
        </svg>
        Modify permissions
    </button>
    <hr>
    <p>
        <svg class="feather">
            <use xlink:href="{{ asset('cms-ui', '/vendor/feather-icons/feather-sprite.svg') }}#arrow-left" />
        </svg>
        <a href="{{ edition_form_url }}">Cancel</a>
    </p>
</form>

{% endblock %}
