<div class="mb-3">
    {% if entity_component.size > 0 %}
        {% if entity_component.is_an_image %}
            <div class="mb-3">
                <strong>Original filename:</strong> {{ entity_component.original_filename }}<br>
                <strong>File size:</strong> {{ formatted_size }}<br>
                <strong>MIME type:</strong> {{ entity_component.mime_type }}<br>
                <strong>Width:</strong> {{ entity_component.width }} px<br>
                <strong>Height:</strong> {{ entity_component.height }} px
            </div>
            <div class="mb-3">
                <img src="{{ url('cms-ui-image', {'sizing': 'large', 'component_address': component_address | slice(1)}) }}" class="img-fluid">
            </div>
            <div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" role="switch" name="{{ base_name }}_autocrop" id="widget-{{ base_name }}-autocrop" {% if entity_component.autocrop %}checked{% endif %}>
                    <label class="form-check-label" for="widget-{{ base_name }}-autocrop">
                        Automatic crop
                    </label>
                    <div class="form-text">
                        When automatic crop is on, Vitya will analyze the content of the image 
                        and try to crop it in the best possible way.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="widget-{{ base_name }}-coi-x" class="col-form-label">Center X</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="{{ base_name }}_coi_x" id="widget-{{ base_name }}-coi-x" class="form-control" value="{{ entity_component.coi_x }}">
                    </div>
                    <div class="col-sm-3">
                        <label for="widget-{{ base_name }}-coi-y" class="col-form-label">Center Y</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="{{ base_name }}_coi_y" id="widget-{{ base_name }}-coi-y" class="form-control" value="{{ entity_component.coi_y }}">
                    </div>
                </div>
            </div>
        {% else %}
            <p>Invalid image file.</p>
        {% endif %}
    {% else %}
        <p>No image uploaded yet.
    {% endif %}
    <hr>
    <label for="widget-{{ base_name }}" class="form-label">
        <strong>Upload a new image</strong>
    </label>
    <input type="file" name="{{ base_name }}" id="widget-{{ base_name }}" class="form-control" {% if not can_be_modified %}disabled{% endif %}>
</div>
