<h3>Publication</h3>
{% if html_error_description != '' %}
    <p class="text-danger">{{ html_error_description | raw }}</p>
{% endif %}
{% for component_counter, component in components %}
    <div class="form-check">
        <input 
            type="checkbox" 
            name="{{ component.base_name }}_{{component_counter }}_publishable"
            value="1"
            {% if component.publishable %}checked{% endif %}
            class="form-check-input" 
            id="widget-{{ component_counter }}-{{ component.base_name }}-publishable"
        >
        <label class="form-check-label" for="widget-{{ component_counter }}-{{ component.base_name }}-publishable">
            {{ component.label }}
        </label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">From</span>
        <input 
            type="datetime-local"
            name="{{ component.base_name }}_{{component_counter }}_start_uts"
            value="{% if component.start_uts is defined and component.start_uts is not empty %}{{ component.start_uts | date('Y-m-d H:i:s') }}{% endif %}"
            class="form-control form-control-sm {% if component.error %}is-invalid{% endif %}"
            id="widget-{{ component_counter }}-{{ component.base_name }}-start-uts"
        >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">To</span>
        <input 
            type="datetime-local"
            name="{{ component.base_name }}_{{component_counter }}_end_uts"
            value="{% if component.end_uts is defined and component.end_uts is not empty %}{{ component.end_uts | date('Y-m-d H:i:s') }}{% endif %}"
            class="form-control form-control-sm {% if component.error %}is-invalid{% endif %}"
            id="widget-{{ component_counter }}-{{ component.base_name }}-end-uts"
        >
    </div>
{% endfor %}
