<ul class="nav">
    {% for item in items %}
        <li class="nav-item">
            <a class="nav-link text-light {% if item.active %}active{% endif %}" {% if item.active %}style="font-weight: bold;"{% endif %} href="{{ item.url }}" title="{{ item.name }}">
                {{ item.id }}
            </a>
        </li>
    {% endfor %}
</ul>
<hr>
