$font-family-sans-serif: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-monospace: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;

$font-size-root: 16px;

$primary: #ff5979;
$success: #70d6a5;
$danger: #df5e77;

$body-color: #343957;

$link-color:                              $body-color;
$link-decoration:                         underline;
$link-shade-percentage:                   20%;
$link-hover-color:                        $primary;
$link-hover-decoration:                   null;
