 @use "sass:map";

 $vitya-container-max-widths: (
  md: 540px,
  lg: 720px,
  xl: 960px,
  xxl: 1140px
);

.vitya-header {
  height: 64px;
}

.vitya-sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 1020;
}

@media (min-width: map.get($grid-breakpoints, "md")) {
  .vitya-sidebar {
    width: 220px;
  }
}

.vitya-sidebar-content {
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.vitya-container {
  @include make-container();
}

@each $breakpoint, $vitya-container-max-width in $vitya-container-max-widths {
  @media (min-width: map.get($grid-breakpoints, $breakpoint)) {
    .vitya-container {
      width: $vitya-container-max-width;
      margin-left: 220px;
    }
  }
}
