/*
 * Copyright 2020 TENTWELVE SRL
 * Licensed under the EUPL, Version 1.2 or - as soon they will be approved by
 * the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 * https://joinup.ec.europa.eu/software/page/eupl5
 * Unless required by applicable law or agreed to inwriting, software
 * distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and
 * limitations under the Licence.
 */

@import "../node_modules/bootstrap/scss/functions";
@import "bs-variables";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "layout";

body {
  background-color: #e1e2e6;
}

.vitya-header {
  background-color: #292d45;
}

.vitya-sidebar {
  background-color: #343957;
  color: #cccdd5;
}

.feather {
  width: 1.5em;
  height: 1.5em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: text-top;
}

.vitya-login-form .vitya-logo {
  width: 14.5em;
  height: 8em;
}

.vitya-header .vitya-logo {
  width: 4.5em;
  height: 1.5em;
}

